support files/xsd/mvc-config-main.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="http://www.bruce.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
				targetNamespace="http://www.bruce.com">

				<xs:element name="app">
								<xs:complexType>
												<xs:sequence>
																<xs:element maxOccurs="1" minOccurs="0" name="global">
																				<xs:complexType>
																								<xs:sequence>
																												<xs:element maxOccurs="1" minOccurs="0" name="encoding">
																																<xs:simpleType>
																																				<xs:restriction base="xs:string">
																																								<xs:minLength value="3"></xs:minLength>
																																				</xs:restriction>
																																</xs:simpleType>
																												</xs:element>
																												<xs:element maxOccurs="1" minOccurs="0" name="action-suffix">
																																<xs:simpleType>
																																				<xs:restriction base="xs:string">
																																								<xs:minLength value="1"></xs:minLength>
																																								<xs:pattern value="(\.)?\w+"></xs:pattern>
																																				</xs:restriction>
																																</xs:simpleType>
																												</xs:element>
																												<xs:element name="action-filters" minOccurs="0" maxOccurs="1">
																																<xs:complexType>
																																				<xs:sequence>
																																								<xs:element name="filter" minOccurs="0" maxOccurs="unbounded">
																																												<xs:complexType>

																																																<xs:attribute name="class" use="required">
																																																				<xs:simpleType>
																																																								<xs:restriction base="xs:string">
																																																												<xs:minLength value="1">
																																																												</xs:minLength>
																																																												<xs:pattern value="((\w+\.)*)[A-Z]\w*">
																																																												</xs:pattern>
																																																								</xs:restriction>
																																																				</xs:simpleType>
																																																</xs:attribute>
																																																<xs:attribute name="pattern" use="required">
																																																				<xs:simpleType>
																																																								<xs:restriction base="xs:string">
																																																												<xs:minLength value="1">
																																																												</xs:minLength>
																																																								</xs:restriction>
																																																				</xs:simpleType>
																																																</xs:attribute>
																																																<xs:attribute name="methods">
																																																				<xs:simpleType>
																																																								<xs:restriction base="xs:string">
																																																												<xs:minLength value="1">
																																																												</xs:minLength>
																																																								</xs:restriction>
																																																				</xs:simpleType>
																																																</xs:attribute>
																																												</xs:complexType>
																																								</xs:element>
																																				</xs:sequence>
																																</xs:complexType>
																												</xs:element>

																												<xs:element name="global-results" minOccurs="0" maxOccurs="1">
																																<xs:complexType>
																																				<xs:sequence>
																																								<xs:element name="result" minOccurs="0" maxOccurs="unbounded">
																																												<xs:complexType>
																																																<xs:simpleContent>
																																																				<xs:extension base="xs:string">
																																																								<xs:attribute name="name" default="$0">
																																																												<xs:simpleType>
																																																																<xs:restriction base="xs:string">
																																																																				<xs:enumeration value="success"></xs:enumeration>
																																																																				<xs:enumeration value="fail"></xs:enumeration>
																																																																				<xs:enumeration value="exception"></xs:enumeration>
																																																																				<xs:enumeration value="error"></xs:enumeration>
																																																																				<xs:enumeration value="login"></xs:enumeration>
																																																																				<xs:enumeration value="input"></xs:enumeration>
																																																																				<xs:enumeration value="else"></xs:enumeration>
																																																																				<xs:enumeration value="none"></xs:enumeration>
																																																																				<xs:enumeration value="$0"></xs:enumeration>
																																																																				<xs:enumeration value="$1"></xs:enumeration>
																																																																				<xs:enumeration value="$2"></xs:enumeration>
																																																																				<xs:enumeration value="$3"></xs:enumeration>
																																																																				<xs:enumeration value="$4"></xs:enumeration>
																																																																				<xs:enumeration value="$5"></xs:enumeration>
																																																																				<xs:enumeration value="$6"></xs:enumeration>
																																																																				<xs:enumeration value="$7"></xs:enumeration>
																																																																				<xs:enumeration value="$8"></xs:enumeration>
																																																																				<xs:enumeration value="$9"></xs:enumeration>
																																																																</xs:restriction>
																																																												</xs:simpleType>
																																																								</xs:attribute>
																																																								<xs:attribute name="type" default="dispatch">
																																																												<xs:simpleType>
																																																																<xs:restriction base="xs:string">
																																																																				<xs:enumeration value="dispatch"></xs:enumeration>
																																																																				<xs:enumeration value="redirect"></xs:enumeration>
																																																																				<xs:enumeration value="chain"></xs:enumeration>
																																																																				<xs:enumeration value="finish"></xs:enumeration>
																																																																</xs:restriction>
																																																												</xs:simpleType>
																																																								</xs:attribute>
																																																				</xs:extension>
																																																</xs:simpleContent>

																																												</xs:complexType>
																																								</xs:element>
																																				</xs:sequence>
																																</xs:complexType>
																												</xs:element>
																												<xs:element name="global-exception-mappings" minOccurs="0" maxOccurs="1">
																																<xs:complexType>
																																				<xs:sequence>
																																								<xs:element name="exception-mapping" minOccurs="0" maxOccurs="unbounded">
																																												<xs:complexType>
																																																<xs:attribute name="exception" default="java.lang.Exception">
																																																				<xs:simpleType>
																																																								<xs:restriction base="xs:string">
																																																												<xs:minLength value="1"></xs:minLength>
																																																												<xs:pattern value="((\w+\.)*)[A-Z]\w*"></xs:pattern>
																																																								</xs:restriction>
																																																				</xs:simpleType>
																																																</xs:attribute>
																																																<xs:attribute name="result" default="exception">
																																																				<xs:simpleType>
																																																								<xs:restriction base="xs:string">
																																																												<xs:enumeration value="success"></xs:enumeration>
																																																												<xs:enumeration value="fail"></xs:enumeration>
																																																												<xs:enumeration value="exception"></xs:enumeration>
																																																												<xs:enumeration value="error"></xs:enumeration>
																																																												<xs:enumeration value="login"></xs:enumeration>
																																																												<xs:enumeration value="input"></xs:enumeration>
																																																												<xs:enumeration value="else"></xs:enumeration>
																																																												<xs:enumeration value="none"></xs:enumeration>
																																																												<xs:enumeration value="$0"></xs:enumeration>
																																																												<xs:enumeration value="$1"></xs:enumeration>
																																																												<xs:enumeration value="$2"></xs:enumeration>
																																																												<xs:enumeration value="$3"></xs:enumeration>
																																																												<xs:enumeration value="$4"></xs:enumeration>
																																																												<xs:enumeration value="$5"></xs:enumeration>
																																																												<xs:enumeration value="$6"></xs:enumeration>
																																																												<xs:enumeration value="$7"></xs:enumeration>
																																																												<xs:enumeration value="$8"></xs:enumeration>
																																																												<xs:enumeration value="$9"></xs:enumeration>
																																																								</xs:restriction>
																																																				</xs:simpleType>
																																																</xs:attribute>
																																												</xs:complexType>
																																								</xs:element>
																																				</xs:sequence>
																																</xs:complexType>
																												</xs:element>
																								</xs:sequence>
																				</xs:complexType>
																</xs:element>
																<xs:element maxOccurs="unbounded" minOccurs="0" name="include">
																				<xs:complexType>
																								<xs:attribute name="file" use="required">
																												<xs:simpleType>
																																<xs:restriction base="xs:string">
																																				<xs:minLength value="5" />
																																				<xs:pattern value=".+\.xml"></xs:pattern>
																																</xs:restriction>
																												</xs:simpleType>
																								</xs:attribute>
																				</xs:complexType>
																</xs:element>
																<xs:element maxOccurs="unbounded" minOccurs="0" name="actions">
																				<xs:complexType>
																								<xs:sequence>
																												<xs:element maxOccurs="unbounded" minOccurs="0" name="action">
																																<xs:complexType>
																																				<xs:sequence>
																																								<xs:element name="entry" maxOccurs="unbounded" minOccurs="0">
																																												<xs:complexType>
																																																<xs:sequence>
																																																				<xs:element maxOccurs="unbounded" minOccurs="0" name="result">
																																																								<xs:complexType>
																																																												<xs:simpleContent>
																																																																<xs:extension base="xs:string">
																																																																				<xs:attribute name="name" default="success">
																																																																								<xs:simpleType>
																																																																												<xs:restriction base="xs:string">
																																																																																<xs:enumeration value="success" />
																																																																																<xs:enumeration value="fail" />
																																																																																<xs:enumeration value="exception" />
																																																																																<xs:enumeration value="error" />
																																																																																<xs:enumeration value="login" />
																																																																																<xs:enumeration value="input" />
																																																																																<xs:enumeration value="else" />
																																																																																<xs:enumeration value="none" />
																																																																																<xs:enumeration value="$0" />
																																																																																<xs:enumeration value="$1" />
																																																																																<xs:enumeration value="$2" />
																																																																																<xs:enumeration value="$3" />
																																																																																<xs:enumeration value="$4" />
																																																																																<xs:enumeration value="$5" />
																																																																																<xs:enumeration value="$6" />
																																																																																<xs:enumeration value="$7" />
																																																																																<xs:enumeration value="$8" />
																																																																																<xs:enumeration value="$9" />
																																																																												</xs:restriction>
																																																																								</xs:simpleType>
																																																																				</xs:attribute>
																																																																				<xs:attribute name="type" default="dispatch">
																																																																								<xs:simpleType>
																																																																												<xs:restriction base="xs:string">
																																																																																<xs:enumeration value="dispatch" />
																																																																																<xs:enumeration value="redirect" />
																																																																																<xs:enumeration value="chain" />
																																																																																<xs:enumeration value="finish">
																																																																																</xs:enumeration>
																																																																												</xs:restriction>
																																																																								</xs:simpleType>
																																																																				</xs:attribute>
																																																																</xs:extension>
																																																												</xs:simpleContent>
																																																								</xs:complexType>
																																																				</xs:element>
																																																				<xs:element name="exception-mapping" maxOccurs="unbounded"
																																																								minOccurs="0">
																																																								<xs:complexType>
																																																												<xs:attribute name="exception" default="java.lang.Exception">
																																																																<xs:simpleType>
																																																																				<xs:restriction base="xs:string">
																																																																								<xs:minLength value="1">
																																																																								</xs:minLength>
																																																																								<xs:pattern value="((\w+\.)*)[A-Z]\w*">
																																																																								</xs:pattern>
																																																																				</xs:restriction>
																																																																</xs:simpleType>
																																																												</xs:attribute>
																																																												<xs:attribute name="result" default="exception">
																																																																<xs:simpleType>
																																																																				<xs:restriction base="xs:string">
																																																																								<xs:enumeration value="success" />
																																																																								<xs:enumeration value="fail" />
																																																																								<xs:enumeration value="exception" />
																																																																								<xs:enumeration value="error" />
																																																																								<xs:enumeration value="login" />
																																																																								<xs:enumeration value="input" />
																																																																								<xs:enumeration value="else" />
																																																																								<xs:enumeration value="none" />
																																																																								<xs:enumeration value="$0" />
																																																																								<xs:enumeration value="$1" />
																																																																								<xs:enumeration value="$2" />
																																																																								<xs:enumeration value="$3" />
																																																																								<xs:enumeration value="$4" />
																																																																								<xs:enumeration value="$5" />
																																																																								<xs:enumeration value="$6" />
																																																																								<xs:enumeration value="$7" />
																																																																								<xs:enumeration value="$8" />
																																																																								<xs:enumeration value="$9" />
																																																																				</xs:restriction>
																																																																</xs:simpleType>
																																																												</xs:attribute>
																																																								</xs:complexType>
																																																				</xs:element>
																																																</xs:sequence>
																																																<xs:attribute name="name" use="optional">
																																																				<xs:simpleType>
																																																								<xs:restriction
																																																												base="xs:string">
																																																												<xs:minLength
																																																																value="0">
																																																												</xs:minLength>
																																																												<xs:pattern
																																																																value="(\w+([-_.])?)*\w*">
																																																												</xs:pattern>
																																																								</xs:restriction>
																																																				</xs:simpleType>
																																																</xs:attribute>
																																																<xs:attribute name="method">
																																																				<xs:simpleType>
																																																								<xs:restriction base="xs:string">
																																																												<xs:minLength value="1">
																																																												</xs:minLength>
																																																												<xs:pattern value="[a-z_$]+([\w_$])*">
																																																												</xs:pattern>
																																																								</xs:restriction>
																																																				</xs:simpleType>
																																																</xs:attribute>
																																												</xs:complexType>
																																								</xs:element>
																																								<xs:element maxOccurs="unbounded" minOccurs="0" name="result">
																																												<xs:complexType>
																																																<xs:simpleContent>
																																																				<xs:extension base="xs:string">
																																																								<xs:attribute name="name" default="success">
																																																												<xs:simpleType>
																																																																<xs:restriction base="xs:string">
																																																																				<xs:enumeration value="success" />
																																																																				<xs:enumeration value="fail" />
																																																																				<xs:enumeration value="exception" />
																																																																				<xs:enumeration value="error" />
																																																																				<xs:enumeration value="login" />
																																																																				<xs:enumeration value="input" />
																																																																				<xs:enumeration value="else" />
																																																																				<xs:enumeration value="none" />
																																																																				<xs:enumeration value="$0" />
																																																																				<xs:enumeration value="$1" />
																																																																				<xs:enumeration value="$2" />
																																																																				<xs:enumeration value="$3" />
																																																																				<xs:enumeration value="$4" />
																																																																				<xs:enumeration value="$5" />
																																																																				<xs:enumeration value="$6" />
																																																																				<xs:enumeration value="$7" />
																																																																				<xs:enumeration value="$8" />
																																																																				<xs:enumeration value="$9" />
																																																																</xs:restriction>
																																																												</xs:simpleType>
																																																								</xs:attribute>
																																																								<xs:attribute name="type" default="dispatch">
																																																												<xs:simpleType>
																																																																<xs:restriction base="xs:string">
																																																																				<xs:enumeration value="dispatch" />
																																																																				<xs:enumeration value="redirect" />
																																																																				<xs:enumeration value="chain" />
																																																																				<xs:enumeration value="finish">
																																																																				</xs:enumeration>
																																																																</xs:restriction>
																																																												</xs:simpleType>
																																																								</xs:attribute>
																																																				</xs:extension>
																																																</xs:simpleContent>
																																												</xs:complexType>
																																								</xs:element>
																																								<xs:element name="exception-mapping" maxOccurs="unbounded" minOccurs="0">
																																												<xs:complexType>
																																																<xs:attribute name="exception" default="java.lang.Exception">
																																																				<xs:simpleType>
																																																								<xs:restriction base="xs:string">
																																																												<xs:minLength value="1">
																																																												</xs:minLength>
																																																												<xs:pattern value="((\w+\.)*)[A-Z]\w*">
																																																												</xs:pattern>
																																																								</xs:restriction>
																																																				</xs:simpleType>
																																																</xs:attribute>
																																																<xs:attribute name="result" default="exception">
																																																				<xs:simpleType>
																																																								<xs:restriction base="xs:string">
																																																												<xs:enumeration value="success" />
																																																												<xs:enumeration value="fail" />
																																																												<xs:enumeration value="exception" />
																																																												<xs:enumeration value="error" />
																																																												<xs:enumeration value="login" />
																																																												<xs:enumeration value="input" />
																																																												<xs:enumeration value="else" />
																																																												<xs:enumeration value="none" />
																																																												<xs:enumeration value="$0" />
																																																												<xs:enumeration value="$1" />
																																																												<xs:enumeration value="$2" />
																																																												<xs:enumeration value="$3" />
																																																												<xs:enumeration value="$4" />
																																																												<xs:enumeration value="$5" />
																																																												<xs:enumeration value="$6" />
																																																												<xs:enumeration value="$7" />
																																																												<xs:enumeration value="$8" />
																																																												<xs:enumeration value="$9" />
																																																								</xs:restriction>
																																																				</xs:simpleType>
																																																</xs:attribute>
																																												</xs:complexType>
																																								</xs:element>
																																				</xs:sequence>
																																				<xs:attribute name="name" use="required">
																																								<xs:simpleType>
																																												<xs:restriction base="xs:string">
																																																<xs:minLength value="1" />
																																																<xs:pattern value="(\w+([-_.])?)*\w+"></xs:pattern>
																																												</xs:restriction>
																																								</xs:simpleType>
																																				</xs:attribute>
																																				<xs:attribute name="class">
																																								<xs:simpleType>
																																												<xs:restriction base="xs:string">
																																																<xs:minLength value="1"></xs:minLength>
																																																<xs:pattern value="((\w+\.)*)[A-Z]\w*"></xs:pattern>
																																												</xs:restriction>
																																								</xs:simpleType>
																																				</xs:attribute>
																																</xs:complexType>
																												</xs:element>
																								</xs:sequence>
																								<xs:attribute name="path" default="/">
																												<xs:simpleType>
																																<xs:restriction base="xs:string">
																																				<xs:minLength value="1"></xs:minLength>
																																				<xs:pattern value="(/)?((\w+([-_/.])?)*\w+)?(/)?"></xs:pattern>
																																</xs:restriction>
																												</xs:simpleType>
																								</xs:attribute>
																				</xs:complexType>
																</xs:element>
												</xs:sequence>
								</xs:complexType>
				</xs:element>

</xs:schema>
